<div class="banner_section">
    <div class="right-side-section">
        <div class="left-sction">
            <div class="add-cart">
                <div class="sub-total">
                    <h5>Subtotal ₹<span>390</span></h5>
                    <button class="add-btn">Proceed to Buy (1 item)</button>
                </div>

                <div class="add-cart-ditail">
                    <div class="flex-2">
                        <img src="assets/images/product/mug/best2.jpg" width="100%">
                    </div>
                    <div class="flex-1">
                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer
                        </p>
                        <h6>₹ 390</h6>

                        <div class="in-stoch">
                            <h4>In stock</h4>
                            <p>Sold by <span>M A Zoya Fashions</span> and Delivery By <span>DHL</span></p>
                        </div>
                    </div>
                </div>

                <div class="add-more-item">
                    <div class="flex-1">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </div>
                            <input type="number" class="form-control" name="quantity" min="1" max="5">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="flex-2">
                        <div class="add-delete">
                            <button>Delete</button>
                        </div>
                    </div>
                    <div class="flex-1">
                        <div class="save-later">
                            <button>Save to later</button>
                        </div>
                    </div>

                </div>

                <div class="returns">
                    <h3>Returns are easy</h3>
                    <p>7-10 days returns on most items as per the M A Zoya Fashions policy 1</p>
                </div>
            </div>
        </div>
        <div class="right-sction m-l-15">
            <h4>Card Image</h4>
            <div class="card m-t-10">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Jane Doe</h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>