<div class="banner_section">
    <div class="right-side-section">
        <div class="left-sction">
            <div class="add-cart">

                <div class="add-cart-ditail">
                    <div class="flex-2">
                        <img src="assets/images/product/mug/best2.jpg" width="100%">
                    </div>
                    <div class="flex-1">
                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer
                        </p>
                        <h6>₹ 390</h6>

                        <div class="in-stoch">
                            <h4>In stock</h4>
                            <p>Sold by <span>M A Zoya Fashions</span> and Delivery By <span>DHL</span></p>
                        </div>
                    </div>
                </div>

               
            </div>
        </div>
        <div class="right-sction m-l-15">
            <h4>Card Image</h4>
            <div class="card m-t-10">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Jane Doe</h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>