<div class="banner_section">
    <div class="right-side-section">
        <div class="left-sction">
            <div class="add-cart">

                <div class="add-cart-ditail">
                    <div class="flex-2">
                        <img src="assets/images/product/mug/best2.jpg" width="100%">
                    </div>
                    <div class="flex-1">
                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer
                        </p>
                        <p class="p-t-5 p-b-5">₹ 390 <span>save: ₹250 (30%)</span></p>

                        <div class="in-stoch">
                            <p>Sold by <span>M A Zoya Fashions</span> and Delivery By <span>DHL</span></p>

                            <p class="text-primary p-t-5">1 item</p>
                        </div>
                    </div>
                </div>
                <div class="select-add">
                    <h2>Select a delivery address</h2>
                    <div class="card m-t-5">
                        <div class="crad-body">
                            <div class="deliver-address">
                                <div class="redio-btn">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1">
                                    </div>
                                </div>
                                <div class="redio-add">
                                    <p>
                                        H-72/A Abul Fazal Enclave Part-1 Jamia Nagar Okhla New Delhi 110025<br>
                                        India
                                    </p>
                                </div>
                            </div>
                            <button class="add-to-cart" routerlink="/elect-payment">Delivery to this address</button>
                            <button class="add-delivery" routerlink="/add-address" >Edit Address</button>
                            <hr>

                            <div class="deliver-address">
                                <div class="redio-btn">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1">
                                    </div>
                                </div>
                                <div class="redio-add">
                                    <p>
                                        H-72/A Abul Fazal Enclave Part-1 Jamia Nagar Okhla New Delhi 110025<br>
                                        India
                                    </p>
                                </div>
                            </div>
                            <hr>

                            <div class="deliver-address">
                                <div class="redio-btn">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1">
                                    </div>
                                </div>
                                <div class="redio-add">
                                    <p>
                                        H-72/A Abul Fazal Enclave Part-1 Jamia Nagar Okhla New Delhi 110025<br>
                                        India
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="right-sction m-l-15">
            <h4>Card Image</h4>
            <div class="card m-t-10">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Jane Doe</h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>