
<mat-dialog-content class="mat-typography">
    <div class="d-flex" mat-dialog-title>
        <div class="flex-1">
           <div class="modal-had">
            <h3>Enter an Indian pincode</h3>
            <button mat-dialog-close><i class="fas fa-times"></i></button>
           </div>
        </div>
    </div>
    <div class="modal-content  m-b-10">
        <input type="number"class="form-control" name="number">
    </div>
    
    <button class="add-to-cart">Apply</button>

</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Foter</button>
</mat-dialog-actions> -->