<div class="select-payment m-t-10">
    <h2>Select payment method</h2>

    <div class="card  m-t-10">
        <div class="deliver-address">
            <div class="redio-btn">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                </div>
            </div>
            <div class="redio-add">
                <p>
                    Wallet ₹ 00
                </p>
            </div>
        </div>
    </div>
    <div class="more">
        <h6>MORE WAYS TO PAY</h6>
    </div>

    <div class="mare-pay">
        <div class="card m-t-5">
            <div class="deliver-address">
                <div class="redio-btn">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    </div>
                </div>
                <div class="redio-add">
                    <p>
                        Other UPI IDs/Net Banking
                    </p>
                </div>
            </div>
        </div>
        <div class="card m-t-5">
            <div class="deliver-address">
                <div class="redio-btn">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    </div>
                </div>
                <div class="redio-add">
                    <p>
                        Add Debit/Credit/ATM Card
                    </p>
                    <p>
                        <button class="text-primary" routerLink="/credit-debit">Add a credit or debit card</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="card m-t-5">
            <div class="deliver-address">
                <div class="redio-btn">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    </div>
                </div>
                <div class="redio-add">
                    <p class="">
                        EMI Unavailable Why?
                    </p>
                </div>
            </div>
        </div>
        <div class="card m-t-5">
            <div class="deliver-address">
                <div class="redio-btn">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    </div>
                </div>
                <div class="redio-add">
                    <p>
                        Pay on Delivery
                        <span>
                            Pay digitally with SMS Pay Link.
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="card m-t-5">
            <div class="deliver-address">
                <div class="redio-btn">
                    <i class="fas fa-chevron-down"></i>
                </div>
                <div class="redio-add">
                    <p>
                       Add Promo Code
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <button class="add-to-cart m-t-10 m-b-20" routerLink="/credit-debit">Continue</button>
    <img src="assets/images/slider/secure.jpg" width="100%">
</div>