.add-address {

    h2 {
        padding: 20px 0;
    }
    label {
        font-size: 12px;
        font-weight: 500;
    }
    input::placeholder {
        font-size: 12px;
    }
    .add-to-cart {
        line-height: 36px;
    }
}